{% spaceless %}
    {% if file is defined %}
        <a href="{{ wh_media_baseurl ~ file.url }}" target="_blank">
            {{ file.fileName }}
        </a>
    {% endif %}
    {% if url is defined %}
        {{ wh_media_baseurl ~ url }}
    {% endif %}
{% endspaceless %}